body {
  background-image: url("transparent.jpeg");
}

main {
  text-align: center;
  font-family: sans-serif;
  margin: auto;
}

header {
  border: 1px solid black;
  background-color: rgb(37, 128, 128);
  width: 900px;
  margin: auto 90px;
  height: 130px;
  border-radius: 20px;
}

div.view-weather {
  padding-top: 5px;
  margin-top: 10px;
  width: 650px;
  border: 1px solid rgb(83, 160, 160);
}

h1 {
  color: white;
}

span {
  color: white;
  padding-bottom: 50%;
}

section.display {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 400px);
  margin: auto;
  width: 65%;
}

.city {
  margin: 15px auto;
}

.locations {
  display: grid;
  grid-template-columns: repeat(2, 60px);
  grid-template-rows: repeat(4, 30px);
  width: 150px;
  margin: auto;
}

.description,
h4 {
  margin: auto 0px;
}

.history h4 {
  margin-top: 20px;
  margin-left: 50px;
  width: 200px;
}

.no-result {
  margin-left: 100px;
  width: 200px;
}

p.region,
p.country,
p.area,
p.current {
  margin: auto 20px;
  width: 200px;
  padding: auto 0px;
  text-align: left;
}

aside {
  width: 50%;
  margin-left: 170px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(3, 220px);

  width: 650px;
}

h3 {
  text-align: center;
  width: 200px;
  margin: auto 10px;
}

.today,
.tomorrow,
.dayAfter {
  display: grid;
  grid-template-columns: repeat(2, 175px);
  grid-template-rows: repeat(3, 35px);
  text-align: left;
  border: dotted 2px rgb(83, 160, 160);
  margin-right: 3px;
  margin-top: 3px;
  border-radius: 20px;
}

p {
  margin-top: 10px;
}
